<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
<!--    <link th:href="@{/bootstrap-4.1.3/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.js"></script>
    <script th:src="@{/js/register.js}"></script>
<!--    <script th:src="@{/bootstrap-4.1.3/js/bootstrap.min.js}"></script>-->
    <title>Welcome</title>
</head>

<body>
<div class="bg"></div>
<div class="container animated fadeIn">
    <div style="text-align: center;">
        <h2>
            <a href="#">Register</a>
        </h2>
    </div>
    <hr>
<!--    <form id="loginForm">-->
        <div style="text-align: center;">
            <div>
                <input type="text" id="inputUserName" name="username" placeholder="Username" value="">
                <input type="password" id="inputPassword" name="password" placeholder="Password">
                <input type="password" name="password" id="inputPasswordConfirm" placeholder="Password Again">
                <input type="email" name="email" id="inputEmail" placeholder="Email">
                <input type="number" name="age" id="inputAge" placeholder="Age(Optional)">
                <input type="text" name="address" id="inputAddress" placeholder="Address(Optional)">
                <label id="codeLabel">Verification Code: <input type="text" name="veriCode" id="inputVeriCode" placeholder="Email Verification Code"></label>
            </div>
            <p class="a-link"><a href="/login">Already have account?</a></p>
            <button type="button" id="submitButton" onclick="submitEmail()" >Register</button>
        </div>
        <br>
<!--    </form>-->
</div>
<ul class="bubbles">
    <li><a style="color: white" th:href="${version.getGitHub()}">Github</a></li>
    <li>[(${version.getName()})]</li>
    <li>Version: [(${version.version})]</li>
    <li>Copyright: [(${version.copyright})]</li>
</ul>
</body>
</html>


<script>
    //js是世界上最好的语言，操
    window.onload=function (){
        document.getElementById('codeLabel').style.display="none";
    }


    function submitRequest() {
        var userName=document.getElementById('inputUserName').value;
        var password=document.getElementById('inputPassword').value
        var passwordConfir=document.getElementById('inputPasswordConfirm').value;
        var email=document.getElementById('inputEmail').value;
        var age=document.getElementById('inputAge').value;
        var address=document.getElementById('inputAddress').value;
        var code=document.getElementById('inputVeriCode').value;

        //对表单数据进行筛查,过滤无用数据
        if(userName=="" ||userName==null){
            alert("User name should not be empty!");

        }
        else if(password=="" || password==null){
            alert("Password should not be empty!");

        }
        else if(password!==passwordConfir){
            alert("Password is not equal!");
            document.getElementById('inputPasswordConfirm').value="";
            document.getElementById('inputPassword').value="";

        }
        else if(email=="" || email==null){
            alert("Email should not be empty!");

        }

        else if(code==null||code==""){
            alert("Please enter the verification code!");
        }
        else{
            var formData=new FormData();
            formData.append("userName",userName);
            formData.append("password",password);
            formData.append("email",email);
            formData.append("age",age);
            formData.append("address",address);
            formData.append("code",code);
            submitRegisterRequest(formData);
        }
    }

    function submitEmail(){
        var userName=document.getElementById('inputUserName').value;
        var email=document.getElementById('inputEmail').value;
        var formData=new FormData();
        if(userName=="" ||userName==null){
            alert("User name should not be empty!");
        }
        else if(email=="" || email==null){
            alert("Email should not be empty!");
        }
        else {
            formData.append("userName", userName);
            formData.append("email", email);
            submitEmailCheckRequest(formData);
            var button=document.getElementById('submitButton');

            button.onclick=function (){
                submitRequest();
            }
        }

    }

</script>